# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
etcd
nodes
lb

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root

# If ansible_ssh_user is not root, ansible_sudo must be set to true
#ansible_sudo=true

deployment_type=openshift-enterprise
osm_default_subdomain={{ ocp_on_osp_apps_dns_domain }}
openshift_master_default_subdomain={{ ocp_on_osp_apps_dns_domain }}
osm_default_node_selector="region=primary"

#openstack cloudprovider
openshift_cloudprovider_kind=openstack
openshift_cloudprovider_openstack_auth_url=https://openstack.hailstorm6.coe.muc.redhat.com:13000
openshift_cloudprovider_openstack_username=admin
openshift_cloudprovider_openstack_password=redhat01
openshift_cloudprovider_openstack_tenant_name=demo-infra
openshift_cloudprovider_openstack_domain_name=hailstorm
openshift_cloudprovider_openstack_region=regionOne

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
#openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

{% if ocpOidcClientSecret is defined and ocpOidcClientSecret != "" and ipa_available|success and certificate|success %}
{# ------ Hailstorm specific:
# If RH-SSO is available, we use the OICD Auth Provider
# elseif IPA is availe, we use the LDAP Auth Provider
# else we use AllowAll as fallback:
#}
openshift_master_identity_providers=[{'name':'oidc_rhsso', 'challenge':'false', 'login':'true', 'mappingMethod':'add', 'kind': 'OpenIDIdentityProvider', 'clientID': 'ocp-master', 'clientSecret':'{{ ocpOidcClientSecret }}', 'ca': 'ipa-ca.crt', 'urls': {'authorize': 'https://rh-sso.{{ hailstorm_dns_domain }}:8443/auth/realms/infra/protocol/openid-connect/auth', 'token':'https://rh-sso.{{ hailstorm_dns_domain }}:8443/auth/realms/infra/protocol/openid-connect/token', 'userInfo':'https://rh-sso.{{ hailstorm_dns_domain }}:8443/auth/realms/infra/protocol/openid-connect/userinfo'}, 'claims': { 'id':['sub'], 'preferredUsername':['preferred_username'], 'name':['name'], 'email':['email'] }}]
{# openshift_master_ldap_ca_file causes the file to be copied to all master nodes /etc/origin/master dirs #}
openshift_master_ldap_ca_file=/etc/origin/master/ipa-ca.crt
{% elif ipa_available|success and certificate|success %}
openshift_master_identity_providers=[{'name': 'ldap_ipa', 'challenge': 'true', 'login': 'true', 'kind': 'LDAPPasswordIdentityProvider', 'attributes': {'id': ['uid'], 'email': ['mail'], 'name': ['cn'], 'preferredUsername': ['uid']}, 'bindDN': 'uid=ose-bind-user,cn=users,cn=compat,dc={{ hailstorm_dns_domain | regex_replace('\.',',dc=') }}', 'bindPassword': '{{ root_password }}', 'ca': 'ipa-ca.crt', 'insecure': 'false', 'url': 'ldap://ipa.{{ hailstorm_dns_domain }}:389/cn=compat,dc={{ hailstorm_dns_domain | regex_replace('\.',',dc=') }}?uid?sub?(&(objectClass=posixAccount))'}]
# Configuring the ldap ca certificate
#openshift_master_ldap_ca='{#{ certificate.stdout }#}'
# or
openshift_master_ldap_ca_file=/etc/origin/master/ipa-ca.crt
{% else %}
openshift_master_identity_providers=[{'name': 'allow_all_auth', 'login': 'true', 'challenge': 'true', 'kind': 'AllowAllPasswordIdentityProvider' }]
{% endif %}

#openshift_use_dnsmasq=False
openshift_master_cluster_method=native
openshift_master_cluster_hostname=openshift-osp.{{ hailstorm_dns_domain }}
openshift_master_cluster_public_hostname=openshift-osp.{{ hailstorm_dns_domain }}
openshift_master_api_port=443
openshift_master_public_console_url=https://openshift-osp.{{ hailstorm_dns_domain }}/console
openshift_master_logging_public_url=https://kibana.{{ ocp_on_osp_apps_dns_domain }}
openshift_master_metrics_public_url=https://hawkular-metrics.{{ ocp_on_osp_apps_dns_domain }}/hawkular/metrics

{% if openshift_key is defined %}
openshift_master_named_certificates=[{"certfile": "/root/openshift.crt", "keyfile": "/root/openshift.key", "cafile": "/root/openshift-ca.crt"}]
openshift_master_overwrite_named_certificates=true
{% endif %}

openshift_router_selector="region=infra"
openshift_hosted_router_selector="region=infra"
openshift_registry_selector="region=infra"
#openshift_docker_options="--log-opt max-size=1M --log-opt max-file=3"
os_sdn_network_plugin_name="redhat/openshift-ovs-multitenant"
#openshift_docker_additional_registries
#openshift_docker_insecure_registries
#openshift_master_overwrite_named_certificates=true

openshift_hosted_metrics_deploy=false
openshift_metrics_hawkular_hostname=hawkular-metrics.{{ ocp_on_osp_apps_dns_domain }}
openshift_metrics_cassandra_storage_type=dynamic
openshift_metrics_cassandra_replicas=1
openshift_metrics_cassandra_limits_memory=2Gi
openshift_metrics_hawkular_replicas=1
openshift_metrics_duration=5
openshift_metrics_hawkular_nodeselector={"region":"infra"}
openshift_metrics_cassandra_nodeselector={"region":"infra"}
openshift_metrics_heapster_nodeselector={"region":"infra"}

openshift_hosted_logging_deploy=false
openshift_logging_es_pvc_dynamic=true
openshift_logging_use_ops=false
openshift_logging_kibana_hostname=kibana.{{ ocp_on_osp_apps_dns_domain }}
openshift_logging_curator_default_days=7
openshift_logging_curator_nodeselector={"region":"infra"}
openshift_logging_kibana_nodeselector={"region":"infra"}
openshift_logging_es_nodeselector={"region":"infra"}

# host group for masters
[masters]
{% for master in groups["ose3-osp-master"] %}
{{ hostvars[master].hostname }}
{% endfor %}

[etcd]
{% for master in groups["ose3-osp-master"] %}
{{ hostvars[master].hostname }}
{% endfor %}

# host group for nodes, includes region info
[nodes]
{% for master in groups["ose3-osp-master"] %}
{{ hostvars[master].hostname }} openshift_node_labels="{{ hostvars[master].openshift_node_labels }}"
{% endfor %}
{% for node in groups["ose3-osp-node"] %}
{{ hostvars[node].hostname }} openshift_node_labels="{{ hostvars[node].openshift_node_labels }}"
{% endfor %}

# Specify load balancer host
[lb]
{% for lb in groups["ose3-osp-lb"] %}
{{ hostvars[lb].hostname }}
{% endfor %}
