---
- name: RHEL7CentrallyManaged
  description: RHEL7CentrallyManaged
  script: |
    <%
       evm[:hostname] = evm[:vm_target_hostname] if evm[:hostname].blank?
       script_hostname = evm[:hostname]
       ssh_key = evm[:sshkey]
       script_username = evm[:scriptusername]
       script_domainname = evm[:domainname]

       require 'rubygems'
       require 'json'
       script_ldapentry = JSON.parse(evm[:ldapentry])['myhash'] unless evm[:ldapentry].nil?
    %>#cloud-config

    cloud_init_modules:
     - migrator
     - bootcmd
     - write-files
     - growpart
     - resizefs
     - set_hostname
     - update_hostname
     - update_etc_hosts
     - rsyslog
     - users-groups
     - ssh

    users:
    - name: <%=script_username%>
      ssh_authorized_keys:
    <% if ssh_key != nil && ssh_key != '' %>
      - <%=ssh_key%>
    <% end %>
    <% if script_ldapentry != nil %><% (script_ldapentry['ipasshpubkey'] || []).each do |key| %>
      - <%= key %>
    <% end %><% end %>
      - {{ ssh_pub_key_hailstorm }}
    - name: root
      ssh_authorized_keys:
      - {{ ssh_pub_key_hailstorm }}

    hostname: <%=script_hostname%>
    fqdn: <%=script_hostname%>.<%=script_domainname%>
    manage_etc_hosts: true

    write_files:
    - path: /tmp/foreman-userdata.sh
      permissions: '0755'
      content: |
       #!/bin/bash

       sleep 60

       # Add Proxy infos

       # set global proxy options in init file

       cat export http_proxy=https://{% if http_proxy.username|default(false,true) %}{{ http_proxy.username }}{% if http_proxy.password|default(false,true )%}:{{ http_proxy.password }}{% endif %}@{% endif %}{{ http_proxy.proxyname }}{% if http_proxy.port|default(false,true) %}:{{ http_proxy.port }}{% endif %}/ > /etc/profile.d/proxy.sh
       cat export https_proxy=$http_proxy >> /etc/profile.d/proxy.sh
       cat export ftp_proxy=$http_proxy >> /etc/profile.d/proxy.sh
       cat export rsync_proxy=$http_proxy >> /etc/profile.d/proxy.sh
       cat export no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com,.{{ hailstorm_dns_domain }}" >> /etc/profile.d/proxy.sh

       chown root.root /etc/profile.d/proxy.sh
       chmod 644 /etc/profile.d/proxy.sh

       source /etc/profile.d/proxy.sh

       cd /tmp
       curl http://satellite.<%=script_domainname%>/pub/customer/Certificates/BoschInternetProxyCA2.crt -o BoschInternetProxyCA2.crt
       curl http://satellite.<%=script_domainname%>/pub/customer/Certificates/ProxyHTTP.crt -o ProxyHTTP.crt

       # copy files to appropriate location

       cp /tmp/BoschInternetProxyCA2.crt /etc/pki/ca-trust/source/anchors/
       cp /tmp/ProxyHTTP.crt /etc/pki/ca-trust/source/anchors/
       chown root.root /etc/pki/ca-trust/source/anchors/BoschInternetProxyCA2.crt
       chown root.root /etc/pki/ca-trust/source/anchors/ProxyHTTP.crt
       chmod 644 /etc/pki/ca-trust/source/anchors/BoschInternetProxyCA2.crt
       chmod 644 /etc/pki/ca-trust/source/anchors/ProxyHTTP.crt

       update-ca-trust
       update-ca-certificates

       # register in Bosch Satellite

       curl http://si0bos32.de.bosch.com/pub/bootstrap/bootstrap-rhel7-64bit.txt|bash

       # ensure that OpenSSH does not do reverse lookups to speed up login process
       echo "UseDNS no" >> /etc/ssh/sshd_config
       systemctl restart sshd

    runcmd:
     - [ cloud-init-per, once, foreman-userdata, /tmp/foreman-userdata.sh ]
    output: {all: '| tee -a /root/install.userdata.log'}

    # end of example
  pxe_image_type_id: 919000000000003
  type: CustomizationTemplateCloudInit
  system:
