<source>
  type syslog
  port 42185
  tag  rsyslog
</source>

<filter **>
  @type record_transformer
  <record>
    hostname ${hostname}
  </record>
</filter>

<match **>
  @type copy
  <store>
    @type forward
    heartbeat_type tcp
    <server>
      name {{ hostvars['efk'].hostname }}
      host {{ hostvars['efk'].hostname }}
      port 4000
    </server>
  </store>

{% if forward_to_rsyslog|default(false,true) %}{% for node in groups['infrastructure-group'] %}
  <store>
   @type remote_syslog
   host {{ hostvars[node].hostname }}
   hostname {{ inventory_hostname_short }}
   port 514
   tag fluentd
  </store>
{% endfor %}{% endif %}
</match>
