#!/bin/bash

# force the hostname even if turned off for cloud-init
hostnamectl set-hostname {{ hostname }}

{% for nic in vm_nics %}
{% if nic.ip|default("") != "" %}
echo -e NAME=\"{{nic.dev}}\"\\nONBOOT=yes\\nBOOTPROTO=\"static\"\\nDEVICE={{nic.dev}}\\nIPADDR=\"{{ nic.ip }}\"\\nNETMASK=\"{{ nic.netmask }}\"{% if name_service_via is defined and name_service_via.netname == nic.netname %}\\nDNS1=\"{{ name_service_via.default_gw_host_prefix | ipaddr('address')  }}\"{% endif %}{% if default_route_via.netname == nic.netname %}\\nGATEWAY=\"{{ default_route_via.default_gw_host_prefix | ipaddr('address')  }}\"{% endif %} >/etc/sysconfig/network-scripts/ifcfg-{{nic.dev}}
{% endif %}
{% endfor %}
systemctl restart network

# set root pw
echo "{{ root_password }}" | passwd root --stdin

# ensure that OpenSSH does not do reverse lookups to speed up login process
echo "UseDNS no" >> /etc/ssh/sshd_config

#work around https://bugzilla.redhat.com/show_bug.cgi?id=1454491
{# cloudforms already has a fix baked in, but it adds the wrong 192.168.122.1 #}
sed -i 's/^nameserver 192.168.122.1//g' /etc/resolv.conf
grep -q 'nameserver {{ infrastructure_address_default_dns }}' /etc/resolv.conf || echo 'nameserver {{ infrastructure_address_default_dns }}' >>/etc/resolv.conf

exit 0
