#!/bin/bash

{% for nic in vm_nics %}
{% if nic.ip|default("") != "" %}
echo -e NAME=\"{{nic.dev}}\"\\nONBOOT=yes\\nBOOTPROTO=\"static\"\\nDEVICE={{nic.dev}}\\nIPADDR=\"{{ nic.ip }}\"\\nNETMASK=\"{{ nic.netmask }}\"{% if name_service_via is defined and name_service_via.netname == nic.netname %}\\nDNS1=\"{{ name_service_via.default_gw_host_prefix | ipaddr('address')  }}\"{% endif %}{% if default_route_via.netname == nic.netname %}\\nGATEWAY=\"{{ default_route_via.default_gw_host_prefix | ipaddr('address')  }}\"{% endif %} >/etc/sysconfig/network-scripts/ifcfg-{{nic.dev}}
{% endif %}
{% endfor %}
systemctl restart network

# set root pw
echo "{{ root_password }}" | passwd root --stdin

# ensure that OpenSSH does not do reverse lookups to speed up login process
echo "UseDNS no" >> /etc/ssh/sshd_config

exit 0
