{
  "clientId": "{{ oidcClientName }}",
  "enabled": true,
  "redirectUris": ["{{ oidcRedirect }}"],
  "protocol": "openid-connect",
  "clientAuthenticatorType": "client-secret",
  "publicClient": false,
  "attributes": {}
}
EOF
