version: 0.1
log:
  level: debug
http:
  addr: :5000
storage:
  cache:
    blobdescriptor: inmemory
  delete:
    enabled: true
  swift:
    username: admin
    password: {{ root_password }}
    authurl: https://{{ hostvars[openstack_vip|default('openstack')].hostname }}:13000/v3
    tenant: {{ osp_tenant }}
    domain: hailstorm
    insecureskipverify: true
    region: regionOne
    container: docker-registry
auth:
  openshift:
    realm: openshift
middleware:
  registry:
    - name: openshift
  repository:
    - name: openshift
      options:
        acceptschema2: true
        pullthrough: true
        enforcequota: false
        projectcachettl: 1m
        blobrepositorycachettl: 10m
  storage:
    - name: openshift
openshift:
  version: 1.0
  metrics:
    enabled: false
    secret: <secret>
