{% if current_lifecycle_env.osp_controlled_node_placement %}{# hostname map only makes sense for controlled placement #}
parameter_defaults:
  HostnameMap:
    {% for node in controller %}
    overcloud-controller-{{ loop.index0 }}: {{hostvars[node].inventory_hostname_short}}
    {% endfor %}{% for node in compute %}
    overcloud-compute-{{ loop.index0 }}: {{hostvars[node].inventory_hostname_short}}
    {% endfor %}
{% endif %}
