<interface type='bridge' name='{{ item.bridge }}'>
  <start mode='onboot'/>
  <bridge stp='off' delay='2'>
    {% if item.vlan is defined %}
    <interface type='vlan' name='{{ item.nic[layer1_ansible_host] }}.{{ item.vlan }}'>
      <vlan tag='{{ item.vlan }}'>
        <interface name='{{ item.nic[layer1_ansible_host] }}'/>
      </vlan>
    </interface>
    {% else %}
    <interface type='ethernet' name='{{ item.nic[layer1_ansible_host] }}' />
    {% endif %}
  </bridge>
</interface>
